@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Judson:700);
body {
  text-align: center;
  background: url("https://upload.wikimedia.org/wikipedia/en/8/84/Jasper_Johns's_'Map',_1961.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
h1 {
	color: black;
	font-size: 80px; 
	font-family: 'Judson', serif;
}
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}