body {
  text-align: center;
  background: url("Jasper_Johns's_'Map',_1961.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
h1 {
	color: black;
}
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}